<h1>Challenges#index</h1>
<p>Find me in app/views/challenges/index.html.erb</p>


<%= @challenges.each do |c| %>
  <%= c.name %><br>

<% end %>

<%= link_to 'New', new_challenge_path %>
<%= link_to 'Join Challenge', new_ticket_path %>
<%= link_to 'Players', players_path %>
<%= link_to 'Questions', questions_path %>
