<!DOCTYPE html>
<html>
<head>
  <title>ProjektB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_player %>
    <ul>
      <li><%= link_to current_player.email, player_path(current_player) %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Login", 'login' %></a></li>
      <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
  <% end %>

<%= yield %>

</body>
</html>
